{
  "oidcCertsUrl": "",
  "builderUrl": "http://builder:8080",
  "fksdbApiUrl": "https://db.fykos.cz/api",
  "fksdbLogin": "",
  "fksdbPassword": "",
  "dbConnection": "postgresql://user:password@url/db_name",
  "roleMapping": {
    "baseRole": {
      "admin": ["role"]
    },
    "contestRole": {
      "fykos": {
        "contest.organizer": ["role"],
      }
    }
  }
}
