{
  "oidcCertsUrl": "",
  "fksdbApiUrl": "https://db.fykos.cz",
  "fksdbLogin": "",
  "fksdbPassword": "",
  "roleMapping": {
    "baseRole": {
      "admin": ["role"]
    },
    "contestRole": {
      "fykos": {
        "contest.organizer": ["role"],
      }
    }
  }
}
