{
  "oidcCertsUrl": "",
  "builderUrl": "http://builder:8080",
  "fksdbApiUrl": "https://db.fykos.cz/api",
  "fksdbLogin": "",
  "fksdbPassword": "",
  "dbConnection": "postgresql://pm:password@db/problem_manager",
  "contestTexts": {
    "fykos": {
      "task": ["cs", "en"],
      "solution": ["cs", "en"]
    },
    "fol": {
      "task": ["cs", "en"],
      "solution": ["cs", "en"]
    },
    "fof": {
      "task": ["cs", "en"],
      "solution": ["cs", "en"],
      "result": ["cs"]
    },
    "vyfuk": {
      "task": ["cs"],
      "solution": ["cs"]
    },
    "naboj-junior": {
      "task": ["en", "cs"],
      "solution": ["en", "cs"]
    }
  },
  "organizerMapping": {
    "fof": "fykos",
    "fol": "fykos",
    "naboj-junior": "vyfuk"
  },
  "roleMapping": {
    "baseRole": {
      "admin": ["role"]
    },
    "contestRole": {
      "fykos": {
        "contest.organizer": ["role"],
      }
    },
  "contestMetadataFields": {
    "fykos": ["name", "origin", "points", "result"],
  },
  "contestWork": {
    "fykos": [
      {
        "groupName": "Zadání",
        "items": [
          {
            "name": "text zadání"
          },
        ]
      }
    ]
  }
}
